.ruby {
  display: none;
}
.csharp {
  display: none;
}
.rust {
  display: none;
}
.react {
  display: none;
}
.python {
  display: none;
}
.javascript {
  display: none;
}
.error {
  display: none;
}
body {
  background: #EFD0D0;
  background: -webkit-linear-gradient(bottom, #EFD0D0, #D44242);
  background: -moz-linear-gradient(bottom, #EFD0D0, #D44242);
  background: linear-gradient(to top, #EFD0D0, #D44242);
}
.results {
  display: none;
}
#result {
  font-weight: bold;
  font-family: Tahoma;
  font-style: italic;
}