.ruby {
  display: none;
}
.csharp {
  display: none;
}
.rust {
  display: none;
}
.react {
  display: none;
}
.python {
  display: none;
}
.javascript {
  display: none;
}
.error {
  display: none;
}